extends base
include mixins/video

block uploadVideo
	nav
		ul 
			li 
				a(href="/videos/upload") Upload Video

block content
	h2 Welcome here you will see the trending vidoes
	each potato in videos
		+video(potato)
	else
		li Sorry nothing found.